# See https://www.dartlang.org/guides/libraries/private-files

.idea/
.dart_tool/
.packages
build/
secret.dart
android/app/google-services.json
pubspec.lock
doc/api/

.env*

*.dart.js
*.info.json
*.js

*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
lib/secret.dart
